.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fc;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    box-sizing: border-box;
}

.navGroup {
    display: flex;
    gap: 15px;
}

.logoutBtn {
    background-color: #5b4df0;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(91, 77, 240, 0.25);
}

.logoutBtn:hover {
    background-color: #4839db;
    transform: translateY(-2px);
}